body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar */

.logo img {
  width: 20px;
  height: auto;
}

.navbar {
  display: flex;
  background-color: #1e1e2f;
  padding: 10px 70px;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 15px;
}

.nav-links a {
  color: #b388ff;
  text-decoration: none;
  font-size: 17px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-links a:hover {
  color: #ffffff;
}

/* SOBRE */

.sobre-top {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 600px;
}

.sobre-top img {
  max-width: 25%;
  height: auto;
}

.sobre-top p {
  font-size: 25px;
}

.sobre-top p1 {
  max-width: 700px;
  font-size: 15px;
  letter-spacing: 1px;
}

.btn-sobre {
  cursor: pointer;
  color: #b388ff;
  background-color: #121212;
  border-color: #b388ff;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 15px;
}

.btn-sobre:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
  display: inline-block;
  color: white;
}

/*SobreMim*/

.sobremim {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 700px;
  padding: 0px 100px;
  margin: 0 auto;
}

.text1 {
  width: 480px;
  color: white;
}

.image-container {
  position: relative;
  width: 45%;
  max-width: 450px;
}

.eu {
  display: block;
  width: 60%;
  position: relative;
  z-index: 2;
}

.image-container::before {
  content: "";
  position: absolute;
  border: 2px solid #b388ff;
  width: 60%;
  height: 100%;
  top: 20px;
  left: 20px;
  z-index: 1;
  box-sizing: border-box;
}

.icons img {
  width: 50%;
  row-gap: 10px;
}
